{who} wants you to invite for creating your family tree on Kulbeli. 
<br>
<br>Creating the tree is very simple as it begins from you followed by other members in the right order.
The members and then followed by their siblings and so on. 
Kulbeli is a hierarchy which shows all the family members together and how they are associated with one another.
<br> 
<br>Have questions? Get in touch with Kulbeli via Facebook or Twitter, or email our support team on 
<a href="mailto:info@kulbeli.com">info@kulbeli.com</a>. <a href="{url}">Kulbeli</a>.
