Pranam !!,

We just wanted to send you a quick note to say welcome to Kulbeli and thank you for signing up!

What next?

Here are a few steps you can take to get started and see how Kulbeli works...

1.Add family members to your family tree.
2.Add Family members photos, birthdays and death anniversary, Kulbeli will notify such events to you.
3.Send invitation to your family members for creating an extended family tree.
4.Tell your friends about Kulbeli.

Feedback

We’re working hard to make Kulbeli even more wonderful. Please give us your feedback by emailing us (info@kulbeli.com)

Thank you
Team Kulbeli
